<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: header"> </head>

<body>
    <div lang="en" th:replace="fragments/nav :: nav"> </div>
    <div class="container content">
        <div class="text-center">
            <h1 class="strong">ACME Movies</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="/movies/"
                   class="btn btn-default btn-large btn-lg btn-block">Movies</a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="/cinema/"
                   class="btn btn-default btn-large btn-lg btn-block">Cinema</a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="/review/"
                   class="btn btn-default btn-large btn-lg btn-block">Reviews</a>
            </div>
        </div>
    </div>
    <div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>
</html>