<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: header"> </head>

<body>
<div lang="en" th:replace="fragments/nav :: nav"> </div>
<div class="container content">
    <h1 class="text-center">Movie list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Detail</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}">name</td>
            <td th:text="${movie.director}">director</td>
            <td th:text="${movie.rating}">rating</td>
            <td><a th:href="@{/{id}/(id=${movie.id})}" class="btn btn-primary btn-sm">More</a></td>
            <td><a th:href="@{/delete/{id}/(id=${movie.id})}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="col-sm-12 col-md-4 col-md-offset-4">
        <a href="/addmovie/"
           class="btn btn-default btn-large btn-lg btn-block">Add New Movie</a>
    </div>

</div>
<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>
</html>