<div th:fragment="nav_bar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">ACME Movies</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/movies/}">Movies</a></li>
                <li><a th:href="@{/cinema/}">Cinema</a></li>
                <li><a th:href="@{/review/}">Reviews</a></li>
            </ul>
        </div>
    </nav>
</div>